.readermode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 32px;
  margin: 0;
  text-align: inherit;
  flex-shrink: 0;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--darkgray);
    stroke: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

:root[reader-mode="full"] {
  & .sidebar.left {
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    /* Empecher les clics sur un menu invisible */

    &:hover {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

/* Neutralisation des liens pour la lecture fluide (Communs à Light et Full) */
:root[reader-mode="light"] article,
:root[reader-mode="full"] article {

  a.internal,
  a.external,
  a {
    background-color: transparent !important;
    color: inherit !important;
    padding: 0 !important;
    border-radius: 0 !important;
    font-weight: inherit !important;
    transition: color 0.1s ease !important;
  }

  a.internal:hover,
  a.external:hover,
  a:hover {
    color: #3f88c5 !important;
    /* Retour au bleu originel (#3f88c5) au survol */
    text-decoration: underline !important;
  }

  /* On garde le style "Mis-en-avant" visible car il est sémantique */
  .text-highlight,
  mark {
    color: inherit !important;
  }
}